@import url("https://fonts.googleapis.com/css2?family=Karla:wght@800&family=Oswald:wght@500;700&family=Rubik:ital,wght@0,300;0,400;1,300;1,400&display=swap");

:root {
  --text: #e9e1ea;
  --background: #171118;
  --primary-button: #a7a686;
  --secondary-button: #2c202c;
  --accent: #547372;

  --ff-extra-bold: 800;

  --text-2: #010204;
  --background-2: #f3f5fc;
  --primary-button-2: #552fa7;
  --secondary-button-2: #f0dbf5;
  --accent-2: #912fa7;
}

h1 {
  font-family: "Karla", sans-serif;
  font-weight: var(--ff-extra-bold);
  font-size: 5rem;
}

body {
  font-family: "Rubik", sans-serif;
  position: relative;
}

.main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__dark {
    color: var(--text);
    background: var(--background);
  }

  &__light {
    color: var(--text-2);
    background: var(--background-2);
  }
}
