@import url("https://fonts.googleapis.com/css2?family=Karla:wght@800&family=Oswald:wght@500;700&family=Rubik:ital,wght@0,300;0,400;1,300;1,400&display=swap");

:root {
  --text: #e9e1ea;
  --text-accent: rgb(214, 207, 207);
  --background: #171118;
  --primary-button: #a7a686;
  --secondary-button: #2c202c;
  --accent: #912fa7;

  --fs-x-small: 1rem;
  --fs-small: 1.2rem;
  --fs-default: 1.6rem;
  --fs-medium: 2.4rem;
  --fs-big: 3.2rem;

  --ff-extra-bold: 800;
  --ff-bold: 700;
  --ff-medium: 500;
  --ff-default: 400;
  --ff-light: 300;

  --text-2: #010204;
  --background-2: #f3f5fc;
  --primary-button-2: #552fa7;
  --secondary-button-2: #f0dbf5;
  --accent-2: #912fa7;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  position: relative;
  height: auto;
  overflow-y: scroll;

}
h1 {
  font-family: "Karla", sans-serif;
  font-weight: var(--ff-extra-bold);
  font-size: 5rem;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-weight: var(--ff-bold);
  font-size: var(--fs-medium);
}

h3 {
  color: var(--text-accent);
  position: relative;
  border-left: 3px solid var(--accent);
  padding: 1rem;
  font-size: var(--fs-default);
  font-weight: 400;

  &::before {
    content: "<h3>";
    position: absolute;
    left: -1.4rem;
    top: -1.8rem;
    font-size: var(--fs-small);
  }
}

a {
  color: var(--text);
  text-decoration: none;
  font-size: var(--fs-default);
}
